body{
	margin: 0px;
    background-color: #FDEFEF;
}


.calculator{
	    width: 326px;
    height: 464px;
    margin-top: 10px;
    /*background: rgba(0, 0, 0, 0.9);*/
    background-color: #F4DFD0;
    margin: auto auto;
    margin-top: 67px;

}
.result{
    width: 296px;
    border: navajowhite;
    height: 92px;
    text-align: right;
    padding: 10px;
    font-size: 40px;
    background-color: black;
    color: grey;
}

.display{
	        width: 317px;
    background-color: black;
    height: 120px;
    padding: 4px;
}




.button{
	margin: 7px;
    width: 64px;
    border-width: 0px;
    border-radius: 50%;
    height: 53px;
    background-color: transparent;
    color: black;
    font-weight: 700;

}
.button:hover
{
    color: blue;
    
}
.material-icons
{
    width: 5px;
    height: 5px;
}

@media screen and (max-width: 550px)
{
    .calculator {
   width: 100%;
    height: 100%px;
    margin-top: 10px;
    /* background: rgba(0, 0, 0, 0.9); */
    background-color: #F4DFD0;
    margin: auto auto;
    margin-top: 67px;
    height: 749px;
        }

.display {
    width: 100%;
    background-color: black;
    height: 198px;
    padding: 4px;
    margin-top: -66px;
}

.button {
    margin: 5px;
    width: 76px;
    border-width: 0px;
    border-radius: 50%;
    height: 95px;
    background-color: transparent;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
}



